# Data cleaning

In [27]:
import pandas as pd

# suppress copy warning
pd.options.mode.chained_assignment = None  # default='warn'

In [12]:
# import data
raw_df = pd.read_csv("yelp_academic_dataset_business.csv")
raw_df.head()

,neighborhood,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,state,stars,latitude,postal_code
0,NaN,0DI8Dt2PJp07XkVvIElIcQ,"[u'Monday 11:0-21:0', u'Tuesday 11:0-21:0', u'...",0,"227 E Baseline Rd, Ste J2","[u'BikeParking: True', u'BusinessAcceptsBitcoi...","[u'Tobacco Shops', u'Nightlife', u'Vape Shops'...",Tempe,17,Innovative Vapors,-111.936102,AZ,4.5,33.378214,85283
1,NaN,LTlCaCGZE14GuaUXUGbamg,"[u'Monday 0:0-0:0', u'Tuesday 0:0-0:0', u'Wedn...",1,495 S Grand Central Pkwy,"[u'BusinessAcceptsBitcoin: False', u'BusinessA...","[u'Caterers', u'Grocery', u'Food', u'Event Pla...",Las Vegas,9,Cut and Taste,-115.159272,NV,5.0,36.192284,89106
2,Dufferin Grove,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","[u'Restaurants', u'Pizza', u'Chicken Wings', u...",Toronto,7,Pizza Pizza,-79.429089,ON,2.5,43.661054,M6H 1L5
3,NaN,cnGIivYRLxpF7tBVR_JwWA,"[u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0',...",1,7014 Steubenville Pike,"[u'AcceptsInsurance: False', u'BusinessAccepts...","[u'Hair Removal', u'Beauty & Spas', u'Blow Dry...",Oakdale,4,Plush Salon and Spa,-80.174540,PA,4.0,40.444544,15071
4,Downtown Core,cdk-qqJ71q6P7TJTww_DSA,NaN,1,321 Jarvis Street,"[u'BusinessAcceptsCreditCards: True', u'Restau...","[u'Hotels & Travel', u'Event Planning & Servic...",Toronto,8,Comfort Inn,-79.375401,ON,3.0,43.659829,M5B 2C2

In [13]:
# many instances have missing value in "neighborhood"
len(raw_df[raw_df.neighborhood.notnull()])

57909

In [14]:
# remove neighborhood attribute since it has too many missing values 
raw_df.drop(raw_df.columns[[0]], axis=1, inplace=True)
raw_df.head()

,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,state,stars,latitude,postal_code
0,0DI8Dt2PJp07XkVvIElIcQ,"[u'Monday 11:0-21:0', u'Tuesday 11:0-21:0', u'...",0,"227 E Baseline Rd, Ste J2","[u'BikeParking: True', u'BusinessAcceptsBitcoi...","[u'Tobacco Shops', u'Nightlife', u'Vape Shops'...",Tempe,17,Innovative Vapors,-111.936102,AZ,4.5,33.378214,85283
1,LTlCaCGZE14GuaUXUGbamg,"[u'Monday 0:0-0:0', u'Tuesday 0:0-0:0', u'Wedn...",1,495 S Grand Central Pkwy,"[u'BusinessAcceptsBitcoin: False', u'BusinessA...","[u'Caterers', u'Grocery', u'Food', u'Event Pla...",Las Vegas,9,Cut and Taste,-115.159272,NV,5.0,36.192284,89106
2,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","[u'Restaurants', u'Pizza', u'Chicken Wings', u...",Toronto,7,Pizza Pizza,-79.429089,ON,2.5,43.661054,M6H 1L5
3,cnGIivYRLxpF7tBVR_JwWA,"[u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0',...",1,7014 Steubenville Pike,"[u'AcceptsInsurance: False', u'BusinessAccepts...","[u'Hair Removal', u'Beauty & Spas', u'Blow Dry...",Oakdale,4,Plush Salon and Spa,-80.174540,PA,4.0,40.444544,15071
4,cdk-qqJ71q6P7TJTww_DSA,NaN,1,321 Jarvis Street,"[u'BusinessAcceptsCreditCards: True', u'Restau...","[u'Hotels & Travel', u'Event Planning & Servic...",Toronto,8,Comfort Inn,-79.375401,ON,3.0,43.659829,M5B 2C2

In [15]:
len(raw_df)

144072

In [16]:
# remove instances with missing values in attributes
raw_df = raw_df.dropna()
len(raw_df)

90079

In [47]:
# extract attributes with aggregated values
subset_raw_df = raw_df[['hours','attributes','categories']]
subset_raw_df.head()

,hours,attributes,categories
0,"[u'Monday 11:0-21:0', u'Tuesday 11:0-21:0', u'...","[u'BikeParking: True', u'BusinessAcceptsBitcoi...","[u'Tobacco Shops', u'Nightlife', u'Vape Shops'..."
1,"[u'Monday 0:0-0:0', u'Tuesday 0:0-0:0', u'Wedn...","[u'BusinessAcceptsBitcoin: False', u'BusinessA...","[u'Caterers', u'Grocery', u'Food', u'Event Pla..."
2,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...","[u'Alcohol: none', u""Ambience: {'romantic': Fa...","[u'Restaurants', u'Pizza', u'Chicken Wings', u..."
3,"[u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0',...","[u'AcceptsInsurance: False', u'BusinessAccepts...","[u'Hair Removal', u'Beauty & Spas', u'Blow Dry..."
5,"[u'Monday 10:30-20:0', u'Tuesday 10:30-20:0', ...","[u'BusinessAcceptsCreditCards: True', u'ByAppo...","[u'Nail Salons', u'Beauty & Spas']"

In [48]:
# clean hours
subset_raw_df['hours'] = subset_raw_df['hours'].map(lambda x:x.strip('[').strip(']').strip("u'").replace("', u'",','))
subset_raw_df['hours'].head()

0    Monday 11:0-21:0,Tuesday 11:0-21:0,Wednesday 1...
1    Monday 0:0-0:0,Tuesday 0:0-0:0,Wednesday 0:0-0...
2    Monday 11:0-2:0,Tuesday 11:0-2:0,Wednesday 11:...
3    Tuesday 10:0-21:0,Wednesday 10:0-21:0,Thursday...
5    Monday 10:30-20:0,Tuesday 10:30-20:0,Thursday ...
Name: hours, dtype: object

In [49]:
# function to split hours
def splitHours(x):
    d = {"Monday":'N', "Tuesday":'N', "Wednesday":'N', "Thursday":'N', "Friday":'N', "Saturday":'N', "Sunday":'N'}
    hourList = x.split(',')
    for hour in hourList:
        components = hour.split(' ')
        for day in d.keys():
            if day == components[0]:
                d[day] = components[1]
                break
    return d

In [74]:
# split hours
hours_dict_df = subset_raw_df['hours'].apply(lambda x: splitHours(x))
hours_dict_df.head()

0    {'Tuesday': '11:0-21:0', 'Monday': '11:0-21:0'...
1    {'Tuesday': '0:0-0:0', 'Monday': '0:0-0:0', 'W...
2    {'Tuesday': '11:0-2:0', 'Monday': '11:0-2:0', ...
3    {'Tuesday': '10:0-21:0', 'Monday': 'N', 'Wedne...
5    {'Tuesday': '10:30-20:0', 'Monday': '10:30-20:...
Name: hours, dtype: object

In [75]:
# convert it into a feature matrix hours_df
hours_df = hours_dict_df.apply(pd.Series)
hours_df.head()

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,11:0-22:0,11:0-21:0,10:0-22:0,11:0-18:0,11:0-21:0,11:0-21:0,11:0-21:0
1,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
2,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-2:0
3,10:0-18:0,N,9:0-16:0,N,10:0-21:0,10:0-21:0,10:0-21:0
5,10:30-20:0,10:30-20:0,10:30-19:0,10:30-19:0,10:30-20:0,10:30-20:0,N

In [84]:
# merge raw_df and hours_df
merge_df = pd.merge(raw_df, hours_df, right_index=True, left_index=True)
merge_df.head()

,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,...,stars,latitude,postal_code,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0DI8Dt2PJp07XkVvIElIcQ,"[u'Monday 11:0-21:0', u'Tuesday 11:0-21:0', u'...",0,"227 E Baseline Rd, Ste J2","[u'BikeParking: True', u'BusinessAcceptsBitcoi...","[u'Tobacco Shops', u'Nightlife', u'Vape Shops'...",Tempe,17,Innovative Vapors,-111.936102,...,4.5,33.378214,85283,11:0-22:0,11:0-21:0,10:0-22:0,11:0-18:0,11:0-21:0,11:0-21:0,11:0-21:0
1,LTlCaCGZE14GuaUXUGbamg,"[u'Monday 0:0-0:0', u'Tuesday 0:0-0:0', u'Wedn...",1,495 S Grand Central Pkwy,"[u'BusinessAcceptsBitcoin: False', u'BusinessA...","[u'Caterers', u'Grocery', u'Food', u'Event Pla...",Las Vegas,9,Cut and Taste,-115.159272,...,5.0,36.192284,89106,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
2,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","[u'Restaurants', u'Pizza', u'Chicken Wings', u...",Toronto,7,Pizza Pizza,-79.429089,...,2.5,43.661054,M6H 1L5,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-2:0
3,cnGIivYRLxpF7tBVR_JwWA,"[u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0',...",1,7014 Steubenville Pike,"[u'AcceptsInsurance: False', u'BusinessAccepts...","[u'Hair Removal', u'Beauty & Spas', u'Blow Dry...",Oakdale,4,Plush Salon and Spa,-80.174540,...,4.0,40.444544,15071,10:0-18:0,N,9:0-16:0,N,10:0-21:0,10:0-21:0,10:0-21:0
5,Q9rsaUiQ-A3NdEAloy0aJA,"[u'Monday 10:30-20:0', u'Tuesday 10:30-20:0', ...",1,"30 Gibson Drive, Suite122","[u'BusinessAcceptsCreditCards: True', u'ByAppo...","[u'Nail Salons', u'Beauty & Spas']",Markham,3,A Plus Nail,-79.342722,...,2.5,43.827640,L3R 2S3,10:30-20:0,10:30-20:0,10:30-19:0,10:30-19:0,10:30-20:0,10:30-20:0,N

In [76]:
# remove non-character symbols in categories
subset_raw_df['categories'] = subset_raw_df['categories'].map(lambda x:x.strip('[').strip("']").strip("\"]").replace("', u'",',').replace("\", u'",',').replace("', u\"",',').replace("\", u\"",',').strip("u'").strip("u\""))
subset_raw_df['categories'].head()

0          Tobacco Shops,Nightlife,Vape Shops,Shopping
1    Caterers,Grocery,Food,Event Planning & Service...
2              Restaurants,Pizza,Chicken Wings,Italian
3    Hair Removal,Beauty & Spas,Blow Dry/Out Servic...
5                            Nail Salons,Beauty & Spas
Name: categories, dtype: object

In [87]:
# function to identify restaurant from all categories
def isRestaurant(x):
    d = "N"
    categories = x.split(',')
    for category in categories:
        if category == "Restaurants":
            d = "Y"
            break     
    return d

In [104]:
# merge merge_df with a new attribute "isRestaurant"
merge_df['categories'] = subset_raw_df['categories']
merge_df['isRestaurant'] = merge_df['categories'].apply(lambda x: isRestaurant(x)) 
merge_df.head()

,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,...,latitude,postal_code,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,isRestaurant
0,0DI8Dt2PJp07XkVvIElIcQ,"[u'Monday 11:0-21:0', u'Tuesday 11:0-21:0', u'...",0,"227 E Baseline Rd, Ste J2","[u'BikeParking: True', u'BusinessAcceptsBitcoi...","Tobacco Shops,Nightlife,Vape Shops,Shopping",Tempe,17,Innovative Vapors,-111.936102,...,33.378214,85283,11:0-22:0,11:0-21:0,10:0-22:0,11:0-18:0,11:0-21:0,11:0-21:0,11:0-21:0,N
1,LTlCaCGZE14GuaUXUGbamg,"[u'Monday 0:0-0:0', u'Tuesday 0:0-0:0', u'Wedn...",1,495 S Grand Central Pkwy,"[u'BusinessAcceptsBitcoin: False', u'BusinessA...","Caterers,Grocery,Food,Event Planning & Service...",Las Vegas,9,Cut and Taste,-115.159272,...,36.192284,89106,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,N
2,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Restaurants,Pizza,Chicken Wings,Italian",Toronto,7,Pizza Pizza,-79.429089,...,43.661054,M6H 1L5,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-2:0,Y
3,cnGIivYRLxpF7tBVR_JwWA,"[u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0',...",1,7014 Steubenville Pike,"[u'AcceptsInsurance: False', u'BusinessAccepts...","Hair Removal,Beauty & Spas,Blow Dry/Out Servic...",Oakdale,4,Plush Salon and Spa,-80.174540,...,40.444544,15071,10:0-18:0,N,9:0-16:0,N,10:0-21:0,10:0-21:0,10:0-21:0,N
5,Q9rsaUiQ-A3NdEAloy0aJA,"[u'Monday 10:30-20:0', u'Tuesday 10:30-20:0', ...",1,"30 Gibson Drive, Suite122","[u'BusinessAcceptsCreditCards: True', u'ByAppo...","Nail Salons,Beauty & Spas",Markham,3,A Plus Nail,-79.342722,...,43.827640,L3R 2S3,10:30-20:0,10:30-20:0,10:30-19:0,10:30-19:0,10:30-20:0,10:30-20:0,N,N

In [142]:
# remove instances not belonging to restaurant category
restaurant_df = merge_df[merge_df.isRestaurant == 'Y']
restaurant_df.reset_index(drop=True,inplace=True)
restaurant_df.head()

,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,...,latitude,postal_code,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,isRestaurant
0,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Restaurants,Pizza,Chicken Wings,Italian",Toronto,7,Pizza Pizza,-79.429089,...,43.661054,M6H 1L5,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-3:0,11:0-2:0,11:0-2:0,Y
1,GDnbt3isfhd57T1QqU6flg,"[u'Monday 10:0-22:0', u'Tuesday 10:0-22:0', u'...",1,11072 No Frank Lloyd Wright,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Tex-Mex,Mexican,Fast Food,Restaurants",Scottsdale,9,Taco Bell,-111.835410,...,33.586710,85259,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,Y
2,42romV8altAeuZuP2OC1gw,"[u'Monday 11:0-21:30', u'Tuesday 11:0-21:30', ...",0,"1500 N Green Valley Pkwy, Ste 230","[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Hawaiian,Restaurants,Barbeque",Henderson,38,Ohana Hawaiian BBQ,-115.085821,...,36.029596,89074,11:0-21:30,11:0-21:30,11:0-21:30,11:30-21:0,11:0-21:30,11:0-21:30,11:0-21:30,Y
3,a1Ba6XeIOP48e64YFD0dMw,"[u'Monday 6:30-17:0', u'Tuesday 6:30-17:0', u'...",1,"2000 Mansfield Street, Suite 104",[u'Caters: True'],"Sandwiches,Breakfast & Brunch,Salad,Restaurants",Montréal,3,La Prep,-73.573807,...,45.502346,H3A 2Z6,6:30-17:0,6:30-17:0,N,N,6:30-17:0,6:30-17:0,6:30-17:0,Y
4,826djy6K_9Fp0ptqJ2_Yag,"[u'Monday 10:45-22:0', u'Tuesday 10:45-22:0', ...",1,"123 Front St, Unit 103 and 103-A","[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Fast Food,Mexican,Restaurants",Toronto,68,Chipotle Mexican Grill,-79.383333,...,43.644920,M5J 2M2,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0,Y

In [71]:
# function to split categories
def splitCategories(x):
    d = {}
    categories = x.split(',')
    for category in categories:
        d[category] = "Y"
    return d

In [143]:
# split categories
categories_dict_df = restaurant_df['categories'].apply(lambda x: splitCategories(x)) 
categories_dict_df.head()

0    {'Pizza': 'Y', 'Italian': 'Y', 'Chicken Wings'...
1    {'Restaurants': 'Y', 'Tex-Mex': 'Y', 'Mexican'...
2    {'Hawaiian': 'Y', 'Barbeque': 'Y', 'Restaurant...
3    {'Restaurants': 'Y', 'Salad': 'Y', 'Breakfast ...
4    {'Fast Food': 'Y', 'Mexican': 'Y', 'Restaurant...
Name: categories, dtype: object

In [144]:
# convert it into a feature matrix categories_df
categories_df = pd.DataFrame.from_records(categories_dict_df.tolist())
categories_df.fillna("N", inplace=True)
categories_df.head()

,Acai Bowls,Accessories,Active Life,Acupuncture,Adult Education,Adult Entertainment,Advertising,Afghan,African,Air Duct Cleaning,...,Wine Bars,Wine Tasting Room,Wine Tours,Wineries,Wok,Women's Clothing,Wraps,Yelp Events,Yoga,Zoos
0,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
1,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
2,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
3,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
4,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N

In [145]:
# merge the dataframes
restaurant_df = pd.merge(restaurant_df, categories_df, right_index=True, left_index=True)
restaurant_df.head()

,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,...,Wine Bars,Wine Tasting Room,Wine Tours,Wineries,Wok,Women's Clothing,Wraps,Yelp Events,Yoga,Zoos
0,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Restaurants,Pizza,Chicken Wings,Italian",Toronto,7,Pizza Pizza,-79.429089,...,N,N,N,N,N,N,N,N,N,N
1,GDnbt3isfhd57T1QqU6flg,"[u'Monday 10:0-22:0', u'Tuesday 10:0-22:0', u'...",1,11072 No Frank Lloyd Wright,"[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Tex-Mex,Mexican,Fast Food,Restaurants",Scottsdale,9,Taco Bell,-111.835410,...,N,N,N,N,N,N,N,N,N,N
2,42romV8altAeuZuP2OC1gw,"[u'Monday 11:0-21:30', u'Tuesday 11:0-21:30', ...",0,"1500 N Green Valley Pkwy, Ste 230","[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Hawaiian,Restaurants,Barbeque",Henderson,38,Ohana Hawaiian BBQ,-115.085821,...,N,N,N,N,N,N,N,N,N,N
3,a1Ba6XeIOP48e64YFD0dMw,"[u'Monday 6:30-17:0', u'Tuesday 6:30-17:0', u'...",1,"2000 Mansfield Street, Suite 104",[u'Caters: True'],"Sandwiches,Breakfast & Brunch,Salad,Restaurants",Montréal,3,La Prep,-73.573807,...,N,N,N,N,N,N,N,N,N,N
4,826djy6K_9Fp0ptqJ2_Yag,"[u'Monday 10:45-22:0', u'Tuesday 10:45-22:0', ...",1,"123 Front St, Unit 103 and 103-A","[u'Alcohol: none', u""Ambience: {'romantic': Fa...","Fast Food,Mexican,Restaurants",Toronto,68,Chipotle Mexican Grill,-79.383333,...,N,N,N,N,N,N,N,N,N,N

In [146]:
# remove non-character symbols in categories
restaurant_df['attributes'] = restaurant_df['attributes'].map(lambda x:x.strip('[').strip(']').strip("u'").replace("}\", u'",',').replace(": {",' ').replace("', u'",',').replace("', u\"",',').replace("'","").strip("}\"").strip("u\""))
restaurant_df['attributes'].head()

0    Alcohol: none,Ambience romantic: False, intima...
1    Alcohol: none,Ambience romantic: False, intima...
2    Alcohol: none,Ambience romantic: False, intima...
3                                         Caters: True
4    Alcohol: none,Ambience romantic: False, intima...
Name: attributes, dtype: object

In [137]:
# function to split attributes
def splitAttributes(x):
    d = {}
    attributeList = x.split(',')
    for attribute in attributeList:
        components = attribute.split(':')
        d[components[0].strip()] = components[1].strip()
        
    return d

In [147]:
# split attributes
attributes_dict_df = restaurant_df['attributes'].apply(lambda x: splitAttributes(x)) 
attributes_dict_df.head()

0    {'latenight': 'False', 'RestaurantsPriceRange2...
1    {'latenight': 'False', 'RestaurantsPriceRange2...
2    {'latenight': 'False', 'RestaurantsPriceRange2...
3                                   {'Caters': 'True'}
4    {'latenight': 'False', 'RestaurantsPriceRange2...
Name: attributes, dtype: object

In [148]:
# transform into a feature matrix attributes_df
attributes_df = pd.DataFrame.from_records(attributes_dict_df.tolist())
attributes_df.fillna("Missing", inplace=True)
attributes_df.head()

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience romantic,BYOB,BYOBCorkage,BestNights monday,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,"u""GoodForMeal dessert","u""HairSpecializesIn perms","u""Music dj",upscale,valet,validated,vegan,vegetarian,video,wednesday
0,Missing,Missing,none,False,Missing,Missing,Missing,True,Missing,True,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
1,Missing,Missing,none,False,Missing,Missing,Missing,True,Missing,True,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
2,Missing,Missing,none,False,Missing,Missing,Missing,Missing,Missing,True,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
3,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,Missing,Missing,none,False,Missing,Missing,Missing,True,Missing,True,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing

In [149]:
# merge dataframes
restaurant_df = pd.merge(restaurant_df, attributes_df, right_index=True, left_index=True)
restaurant_df.head()

,business_id,hours,is_open,address,attributes,categories,city,review_count,name,longitude,...,"u""GoodForMeal dessert","u""HairSpecializesIn perms","u""Music dj",upscale,valet,validated,vegan,vegetarian,video,wednesday
0,EDqCEAGXVGCH4FJXgqtjqg,"[u'Monday 11:0-2:0', u'Tuesday 11:0-2:0', u'We...",1,979 Bloor Street W,"Alcohol: none,Ambience romantic: False, intima...","Restaurants,Pizza,Chicken Wings,Italian",Toronto,7,Pizza Pizza,-79.429089,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
1,GDnbt3isfhd57T1QqU6flg,"[u'Monday 10:0-22:0', u'Tuesday 10:0-22:0', u'...",1,11072 No Frank Lloyd Wright,"Alcohol: none,Ambience romantic: False, intima...","Tex-Mex,Mexican,Fast Food,Restaurants",Scottsdale,9,Taco Bell,-111.835410,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
2,42romV8altAeuZuP2OC1gw,"[u'Monday 11:0-21:30', u'Tuesday 11:0-21:30', ...",0,"1500 N Green Valley Pkwy, Ste 230","Alcohol: none,Ambience romantic: False, intima...","Hawaiian,Restaurants,Barbeque",Henderson,38,Ohana Hawaiian BBQ,-115.085821,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
3,a1Ba6XeIOP48e64YFD0dMw,"[u'Monday 6:30-17:0', u'Tuesday 6:30-17:0', u'...",1,"2000 Mansfield Street, Suite 104",Caters: True,"Sandwiches,Breakfast & Brunch,Salad,Restaurants",Montréal,3,La Prep,-73.573807,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,826djy6K_9Fp0ptqJ2_Yag,"[u'Monday 10:45-22:0', u'Tuesday 10:45-22:0', ...",1,"123 Front St, Unit 103 and 103-A","Alcohol: none,Ambience romantic: False, intima...","Fast Food,Mexican,Restaurants",Toronto,68,Chipotle Mexican Grill,-79.383333,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing

In [150]:
# remove the original "hours", "categories", and "attributes" attributes
restaurant_df.drop(raw_df.columns[[1,4,5]], axis=1, inplace=True)
restaurant_df.head()

,business_id,is_open,address,city,review_count,name,longitude,state,stars,latitude,...,"u""GoodForMeal dessert","u""HairSpecializesIn perms","u""Music dj",upscale,valet,validated,vegan,vegetarian,video,wednesday
0,EDqCEAGXVGCH4FJXgqtjqg,1,979 Bloor Street W,Toronto,7,Pizza Pizza,-79.429089,ON,2.5,43.661054,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
1,GDnbt3isfhd57T1QqU6flg,1,11072 No Frank Lloyd Wright,Scottsdale,9,Taco Bell,-111.835410,AZ,2.5,33.586710,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
2,42romV8altAeuZuP2OC1gw,0,"1500 N Green Valley Pkwy, Ste 230",Henderson,38,Ohana Hawaiian BBQ,-115.085821,NV,4.0,36.029596,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
3,a1Ba6XeIOP48e64YFD0dMw,1,"2000 Mansfield Street, Suite 104",Montréal,3,La Prep,-73.573807,QC,4.0,45.502346,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,826djy6K_9Fp0ptqJ2_Yag,1,"123 Front St, Unit 103 and 103-A",Toronto,68,Chipotle Mexican Grill,-79.383333,ON,3.5,43.644920,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing

In [233]:
# remove all non-character symbols in data
import re
pattern = re.compile('[^a-zA-Z]')
restaurant_df.rename(columns=lambda x: pattern.sub('', x), inplace=True)
restaurant_df.head()

,businessid,isopen,address,city,reviewcount,name,longitude,state,stars,latitude,...,uGoodForMealdessert,uHairSpecializesInperms,uMusicdj,upscale,valet,validated,vegan,vegetarian,video,wednesday
0,EDqCEAGXVGCH4FJXgqtjqg,1,979 Bloor Street W,Toronto,7,Pizza Pizza,-79.429089,ON,2.5,43.661054,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
1,GDnbt3isfhd57T1QqU6flg,1,11072 No Frank Lloyd Wright,Scottsdale,9,Taco Bell,-111.835410,AZ,2.5,33.586710,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
2,42romV8altAeuZuP2OC1gw,0,"1500 N Green Valley Pkwy, Ste 230",Henderson,38,Ohana Hawaiian BBQ,-115.085821,NV,4.0,36.029596,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
3,a1Ba6XeIOP48e64YFD0dMw,1,"2000 Mansfield Street, Suite 104",Montréal,3,La Prep,-73.573807,QC,4.0,45.502346,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,826djy6K_9Fp0ptqJ2_Yag,1,"123 Front St, Unit 103 and 103-A",Toronto,68,Chipotle Mexican Grill,-79.383333,ON,3.5,43.644920,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing

In [234]:
# remove duplicated columns if any
restaurant_no_duplicate_df = restaurant_df.loc[:,~restaurant_df.columns.duplicated()]

In [235]:
# replace commas in data with _, otherwise it may cause problems when exporting into a csv file
restaurant_no_duplicate_df = restaurant_no_duplicate_df.apply(lambda x: x.replace(',','_'))
restaurant_no_duplicate_df.head()

,businessid,isopen,address,city,reviewcount,name,longitude,state,stars,latitude,...,uGoodForMealdessert,uHairSpecializesInperms,uMusicdj,upscale,valet,validated,vegan,vegetarian,video,wednesday
0,EDqCEAGXVGCH4FJXgqtjqg,1,979 Bloor Street W,Toronto,7,Pizza Pizza,-79.429089,ON,2.5,43.661054,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
1,GDnbt3isfhd57T1QqU6flg,1,11072 No Frank Lloyd Wright,Scottsdale,9,Taco Bell,-111.835410,AZ,2.5,33.586710,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
2,42romV8altAeuZuP2OC1gw,0,"1500 N Green Valley Pkwy, Ste 230",Henderson,38,Ohana Hawaiian BBQ,-115.085821,NV,4.0,36.029596,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing
3,a1Ba6XeIOP48e64YFD0dMw,1,"2000 Mansfield Street, Suite 104",Montréal,3,La Prep,-73.573807,QC,4.0,45.502346,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,826djy6K_9Fp0ptqJ2_Yag,1,"123 Front St, Unit 103 and 103-A",Toronto,68,Chipotle Mexican Grill,-79.383333,ON,3.5,43.644920,...,Missing,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing

In [236]:
# export data into csv
restaurant_no_duplicate_df.to_csv('restaurants.csv', sep=',', encoding='utf-8', index=False)

In [238]:
# summary of the review count attribute
restaurant_no_duplicate_df['reviewcount'].describe()

count    33867.000000
mean        69.781498
std        160.228672
min          3.000000
25%         10.000000
50%         26.000000
75%         70.000000
max       6414.000000
Name: reviewcount, dtype: float64

In [239]:
# remove outliers for review count
r_n_df = restaurant_no_duplicate_df[((restaurant_no_duplicate_df.reviewcount-restaurant_no_duplicate_df.reviewcount.mean()).abs()/restaurant_no_duplicate_df.reviewcount.std()) < 3]

In [240]:
# summary of review count after removing outliers
r_n_df['reviewcount'].describe()

count    33401.000000
mean        56.678303
std         80.227037
min          3.000000
25%         10.000000
50%         26.000000
75%         66.000000
max        550.000000
Name: reviewcount, dtype: float64

In [241]:
# normalize review count
r_n_df['reviewcount'] = r_n_df['reviewcount'].map(lambda x: (x-3)/(550-3))

In [245]:
# summary of review count after normalization
r_n_df['reviewcount'].describe()

count    33401.000000
mean         0.098132
std          0.146667
min          0.000000
25%          0.012797
50%          0.042048
75%          0.115174
max          1.000000
Name: reviewcount, dtype: float64

In [243]:
# summary of star count
r_n_df['stars'].describe()

count    33401.000000
mean         3.566345
std          0.709695
min          1.000000
25%          3.000000
50%          3.500000
75%          4.000000
max          5.000000
Name: stars, dtype: float64

In [244]:
# normalize star count
r_n_df['stars'] = r_n_df['stars'].map(lambda x: (x-1)/(5-1))
r_n_df['stars'].describe()

count    33401.000000
mean         0.641586
std          0.177424
min          0.000000
25%          0.500000
50%          0.625000
75%          0.750000
max          1.000000
Name: stars, dtype: float64

In [246]:
# create a new dataframe "popularity_df" by multiplying normalized star count and normalized review count
popularity_df = r_n_df['reviewcount'].multiply(r_n_df['stars'], axis="index") 
popularity_df.describe()

count    33401.000000
mean         0.066271
std          0.106252
min          0.000000
25%          0.007313
50%          0.025137
75%          0.075183
max          0.877514
dtype: float64

In [247]:
# normalize popularity
popularity_df = popularity_df.map(lambda x: (x-0)/(0.877514-0))
popularity_df.describe()

count    33401.000000
mean         0.075522
std          0.121083
min          0.000000
25%          0.008333
50%          0.028646
75%          0.085677
max          1.000000
dtype: float64

In [248]:
# create a new attribute "popularity" and assign data to it
popularity_df = popularity_df.to_frame("Popularity")
r_n_df = pd.merge(r_n_df, popularity_df, right_index=True, left_index=True)
r_n_df.head()

,businessid,isopen,address,city,reviewcount,name,longitude,state,stars,latitude,...,uHairSpecializesInperms,uMusicdj,upscale,valet,validated,vegan,vegetarian,video,wednesday,Popularity
0,EDqCEAGXVGCH4FJXgqtjqg,1,979 Bloor Street W,Toronto,0.007313,Pizza Pizza,-79.429089,ON,0.375,43.661054,...,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing,0.003125
1,GDnbt3isfhd57T1QqU6flg,1,11072 No Frank Lloyd Wright,Scottsdale,0.010969,Taco Bell,-111.835410,AZ,0.375,33.586710,...,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing,0.004687
2,42romV8altAeuZuP2OC1gw,0,"1500 N Green Valley Pkwy, Ste 230",Henderson,0.063985,Ohana Hawaiian BBQ,-115.085821,NV,0.750,36.029596,...,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing,0.054687
3,a1Ba6XeIOP48e64YFD0dMw,1,"2000 Mansfield Street, Suite 104",Montréal,0.000000,La Prep,-73.573807,QC,0.750,45.502346,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.000000
4,826djy6K_9Fp0ptqJ2_Yag,1,"123 Front St, Unit 103 and 103-A",Toronto,0.118830,Chipotle Mexican Grill,-79.383333,ON,0.625,43.644920,...,Missing,Missing,False,False,False,Missing,Missing,Missing,Missing,0.084635

In [249]:
# export the normalized data into a csv file
r_n_df.to_csv('restaurants_norm.csv', sep=',', encoding='utf-8', index=False)

# The data will be processed by Weka to reduce feature dimension using information gain method.